.modal-component .modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: black; */
    color: black;
}

.modal-component .modal {
    background-color: rgb(126, 116, 116);
    max-width: 480px;
    margin: 400px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.modal-component .modal h1 {
    margin: 20px;
}

.modal-component .border-red {
    border: 4px solid red;
}

.modal-component .border-red {
    border: 4px solid blue;
}