body {
  margin: 0;
}

/* #root div {
  background-color: brown;
} */


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}